<ng-template appPlaceholder></ng-template>
<!-- <div class="bg-image"></div> -->
<div class="row ">
    <div class="col-xs-12 col-md-6 col-md-offset-3 ">
        
        <div *ngIf="isLoading" style="text-align: centre;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" class="form-control" ngModel #email="ngModel" name="email" required email>
                <br>
                <span *ngIf=" email.touched && email.invalid " style="color: red;">Enter a valid email!</span>
                <span *ngIf=" email.untouched && email.invalid " style="color: red;">Email is required!</span>
                
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel #password="ngModel" name="password"
                    required minlength="6">
                <br>
                <span *ngIf=" password.invalid && password.touched " style="color: red;">Password is requied</span>
                <span *ngIf=" password.invalid && password.untouched " style="color: red;">Password is requied - min length 6</span>
            </div>

            <div>
                <button class="btn btn-primary" type="submit"[disabled]="!authForm.valid">
                    {{isLoginMode ? 'Login' : 'SignUp'}}
                    
                </button>
                |
                <button class="btn btn-outline-primary" type="button" (click)="onSwitchMode()">
                    Switch to {{isLoginMode ? 'Sign Up': 'Login'}}</button>
            </div>
        </form>
    </div>
</div>